#gtx-trans {
    display: none;
}

::-moz-selection {
    background: #FCD34D;
    color: white
}

::selection {
    color: white;
    background: #FCD34D;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #FCD34D;
    border-radius: 5px;
}